<% provide(:title, 'About Us') %>

<h1>About Me</h1>
<div id="container">
    <div class="row">
        <div class="col-md-2 center">
            <img data-src="holder.js/125x150" class="img-thumbnail" alt="">
        </div>
        <div class="col-md-9">
            <div id="h1">
                <h1>Juan Manuel Rodulfo Salcedo</h1>
            </div>
            <div id="h2">
                <h2>Desarrollador Java</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Datos</div>
                <div class="panel-body">
                    <p>Ipsum Lorem</p>

                    <p>Ipsum Lorem</p>

                    <p>Ipsum Lorem</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div>

    </div>
</div>
