
<div class="center jumbotron">
    <h2>Bienvenido a la página Web de</h2>

    <h1>Juan Manuel Rodulfo Salcedo</h1>

    <h2>
        Web creada para la <%= link_to "Universidad Católica de Ávila", 'http://online.ucavila.es/' %>
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>